<!DOCTYPE html>

<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Notes</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        <style>
            .highlight-button {
                display: inline-block;
                background-color: #007bff;
                color: #fff;
                cursor: pointer;/* Adjust margin as needed */
            }
            .add-note-button {
                display: inline-block;
                background-color: #739710;
                color: #fff;
                cursor: pointer;
            }
            .done-button {
                display: inline-block;
                background-color: #575757;
                color: #fff;
                cursor: pointer; 
            }

        </style>
    </head>

    <body>
        
        <nav class="navbar is-dark">
            <div class="navbar-brand">
                <a href="{% url 'editor' %}" class="navbar-item">Notes</a>
            </div>
        </nav>

        <section class="section">
            <div class="columns">
                <div class="column is-5">
                    <p id="text-displayed">{{ paragraph|safe }}</p>
                           </div>

                <div class="column is-2">
                    <aside class="menu">
                        <p class="menu-label">Notes</p>

                        <ul class="menu-list">
                            <a class = "button is-primary" href="{% url 'editor' %}?docid=0">New note</a>
                            {% for doc in documents %}
                                <li>
                                    <a href="{% url 'editor' %}?docid={{ doc.id }}">{{ doc.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </aside>
                </div>

                <div class="column is-5">
                    <form method="post" action="{% url 'editor' %}">
                        {% csrf_token %}

                        <input type="hidden" name="docid" value="{{ docid }}">

                        <div class="field">
                            <label class="label">
                                Title

                                {% if document %}
                                    <span class="has-text-grey-light">
                                        Created at: {{ document.created_at|date:"m/d Y" }} / 
                                        Modified at: {{ document.modified_at|date:"m/d Y" }}
                                    </span>
                                {% endif %}
                            </label>

                            <div class="control">
                                <input type="text" class="input" name="title" placeholder="Title"{% if document %} value="{{ document.title }}"{% endif %}>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Quote</label>

                            <div class="control" id = "fieldToEdit">
                                <input type="text" class="input" name="quote" placeholder="Quote"{% if document %} value="{{ document.quote }}"{% elif quote %}value="{{ quote }}"{% endif %}>
                        </div>
                        <div class="field">
                            <label class="label">Note Content</label>

                            <div class="control">
                                <textarea class="textarea" name="content" placeholder="Content">{% if document %}{{ document.content }}{% endif %}</textarea>
                            </div>
                        </div>

                        <div class="field is-grouped">
                            <div class="control">
                                <button type = "submit" class="button is-success">Save</button>
                            </div>
                            <div class="control">
                                <button type = "button" class="button" id="summarizeButton">Summarize Quote</button>
                            </div>
                            
                            {% if document %}
                                
                                <div class="control">
                                    <a href="{% url 'delete_document' document.id %}" class="button is-danger">Delete</a>  
                                </div>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>